* {
  box-sizing: border-box;
}
   
.container {
  background-color: #f6d89c;
  width: 100%;
  height: 500px;
  font-family: 'Varela Round', sans-serif;
  position: relative;
  overflow: hidden;
}

.wrapper-box {
  display: block;
  width: 100%;
  height: inherit;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

.slider {
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 1;
  z-index: 0;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  transform: scale(1);
  position: absolute;
}

/* dot */
.slider-dot {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 30px;
  width: 550px;
  right: 110px;
  z-index: 1000;
}
.slider-dot label {
  width: 13px;
  height: 13px;
  border-radius: 40%;
  display: inline-block;
  background:  white;
  margin: 0 10px;
  cursor: pointer;
}

/* Slides Background Color */
.slide-1 {
  background-color: #dfd2b2;
  /* background-image: url("assets/images/home-banner/promotion.jpg"); */
  left: 0;
}
.slide-2 {
  background-color:lightgrey;
  left: 100%
}
.slide-3 {
  background-color: #a9785c;
  left: 200%
}

.img-fit{
  height: fit-content;
}

.content-banner {
  padding-left: 150px;
  width: 630px;
}
  
.shop-now-btn {
  background-color: burlywood;
  width: 200px;
  height: 50px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
  font-weight: 100;
  color: #fff;
  text-align: center;
  position: relative;
}
  
.shop-now-btn:hover {
  box-shadow: 2px 1px 60px -10px rgba(3, 3, 3, 0.349);
  color: black;
  font-weight: bold;
}
  
.shop-now-btn:after {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  right: 35px;
  top: 20px;
}

.slider h2 {
  color: #363434;
  font-size: 60px;
  font-weight: 300;
  opacity: 0;
  transform: translateX(500px);
  margin-top: 0;
  transition-delay: 1s;
  transition: transform 800ms, opacity 900ms;
}

.slider h4 {
  font-size: 22px;
  font-family: "Oswald";
  color: rgba(51, 51, 51, 0.349);
  font-weight: bold;
  line-height: 2;
  opacity: 0;
  transform: translateX(300px);
  transition-delay: 1.3s;
  transition: transform 500ms, opacity 500ms;
}
  
.slider > img {
  position: absolute;
  right: 10%;
  bottom: 0;
  height: 100%;
  opacity: 0;
  transform: translateX(300px);
  transition: transform 500ms, opacity 00ms;
  transition-delay: 0.6s;
}
  
.slide-1 > img {
  right: 0;
}

.slide-radio1:checked ~ .slider-dot .page1,
.slide-radio2:checked ~ .slider-dot .page2,
.slide-radio3:checked ~ .slider-dot .page3{
  width: 25px;
  height: 25px;
  background:  burlywood;
  border: 4px solid rgb(73, 59, 40);
}
 
/* Slider Slide Effect */
.slide-radio1:checked ~ .slider {
  transform: translateX(0%);
}
.slide-radio2:checked ~ .slider {
  transform: translateX(-100%);
}
.slide-radio3:checked ~ .slider {
  transform: translateX(-200%);
}
.slide-radio1:checked ~ .slide-1 h2,
.slide-radio2:checked ~ .slide-2 h2,
.slide-radio3:checked ~ .slide-3 h2,
.slide-radio1:checked ~ .slide-1 h4,
.slide-radio2:checked ~ .slide-2 h4,
.slide-radio3:checked ~ .slide-3 h4,
.slide-radio1:checked ~ .slide-1 > img,
.slide-radio2:checked ~ .slide-2 > img,
.slide-radio3:checked ~ .slide-3 > img {
  transform: translateX(0);
  opacity: 1
}

/* Responsive di 800*/
@media only screen and (max-width: 800px) {
  .container {
    width: 100%;
    height: 350px;
    font-family: 'Varela Round', sans-serif;
    position: relative;
    overflow: hidden;
  }
  
  .wrapper-box{
    width: 100%;
    max-height: 300px;
  }
  
  .slider h2 {
    font-size: 20px;
    font-weight: bold;
    width: 170px;
  }
  
  .slider h4 {
    font-size: 15px;
  }
  
  .content-banner {
    padding: 0 2%;
    padding-left: 70px;
  }

  /* ================= */
  .slider-dot {
    left: 2%;
    left: 80px;
  }

  .slider-dot label {
    width: 9px;
    height: 9px;
    border-radius: 40%;
  }

  .slide-radio1:checked ~ .slider-dot .page1,
  .slide-radio2:checked ~ .slider-dot .page2,
  .slide-radio3:checked ~ .slider-dot .page3{
    width: 20px;
    height: 20px;
    background:  burlywood;
    border: 3px solid rgb(73, 59, 40);
  }
  /* ================= */

  .slider .shop-now-btn {
    padding: 0 15px;
    width: 105px;
    height: 32px;
    font-size: 15px;
  }
  
  .slider .shop-now-btn:after {
    top: 20px;
  }
  
  .slider > img {
    right: 2%;
  }
  
  .slide-1 > img {
    right: -110px;
  }

  .slide-1 > img {
    left: 0;
  }
}

/* Responsive di 500*/
@media only screen and (max-width: 500px) {
  .container {
    width: 100%;
    height: 190px;
    font-family: 'Varela Round', sans-serif;
    position: relative;
    overflow: hidden;
    background-image: center;
  }
  
  .wrapper-box{
    width: 100%;
    max-height: 300px;
  }
  
  .slider h2 {
    font-size: 16px;
    font-weight: bold;
    width: 130px;
  }
  
  .slider h4 {
    font-size: 10px;
  }
  
  .content-banner {
    padding: 0 2%;
    padding-left: 50px;
  }

  /* ================= */
  .slider-dot {
    left: 2%;
    left: 30px;
  }

  .slider-dot label {
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }

  .slide-radio1:checked ~ .slider-dot .page1,
  .slide-radio2:checked ~ .slider-dot .page2,
  .slide-radio3:checked ~ .slider-dot .page3{
    width: 15px;
    height: 15px;
    background:  burlywood;
    border: 2px solid rgb(73, 59, 40);
  }
  /* ================= */

  .slider .shop-now-btn {
    padding: 0 12px;
    width: 80px;
    height: 20px;
    font-size: 10px;
  }
  
  .slider .shop-now-btn:after {
    top: 20px;
  }
  
  .slider > img {
    right: 2%;
  }
  
  .slide-1 > img {
    right: -80px;
  }

  .slide-1 > img {
    left: 0;
  }
}
